* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  list-style: none;
}

/* .t--153{
  top: -153px;
} */
/* .left-0 {
  left: 0;
} */

.height-35 {
  height: 35px;
}

.height-32 {
  height: 32px;
}

.height-40 {
  height: 40px;
}

.h-90 {
  height: 90%;
}

.w-60 {
  width: 60%;
}

.w-33 {
  width: 33.3%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.mb-20{
  margin-bottom: 20px;
}

.ml-20{
  margin-left: 20px;
}

.mx-15 {
  margin: 0 15%;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.hide-navbar {
  top: -150px;
  position: absolute;
  transition: 0.5s step-end;
}

.navbar {
  padding: 0;
}

.border-left-1 {
  border-left: 1px solid #d5d5d5;
}

.boder-1 {
  border: 1px solid #2f5acf;
}

.color-hover {
  color: #2f5acf;
} 

.bg-hover {
  background: #2f5acf;
}

.color-hover {
  color: #2f5acf;
} 

.border-hover {
  border: #2f5acf;
}

.header {
  transition: 1s linear;
}

.navbar .container-fluid {
  padding: 0 50px !important;
}

.background-col{
  display: none;
  position: absolute;
  height: 1200px;
  width: 100%;
  left: 0;
  top: 85px;
  background: rgb(125 117 117 / 30%);
  z-index: 10000;
  transition: 0.5s;
}


/* .background-col:hover {
  display: none;
} */

.dropdown-main {
  /* position: absolute; */
  width: 100%;
  height: 400px;
  top: 0;
  left: 0;
  padding: 0 50px;
  z-index: 10;
}

.dropdown-content-wrapper {
  background: #fff;
  /* color: #000; */
  /* height: 100%; */
}


.navbar .container-fluid .logo-header {
  padding: 3px 10px;
  background: #f0f0f0;
  margin-right: 0;
}

.navbar .nav-item:hover {
  background: #f0f0f0;
}


.navbar .nav-item a {
  color: inherit;
  font-weight: 500;
  /* font-size: 14px; */
}

.navbar .container-fluid {
  padding-left: 60px;
}

.topbar-promotion {
  background: #525252;
}

.nav-inner .navbar-collapse ul .nav-item {
  padding: 25px 6px;
}

/* .navbar .navbar-collapse ul .nav-item:hover .background-col {
  display: block;
} */

.nav-inner .navbar-collapse ul .col-sale {
  background: rgb(255, 86, 5);
  margin-left: 40px;
  padding: 25px 8px;
}

/* .nav-inner .navbar-collapse ul .col-sale .background-col{
  display: none;
  position: absolute;
  height: 1200px;
  width: 100%;
  left: 0;
  top: 85px;
  background: rgb(125 117 117 / 30%);
  z-index: 10000;
} */
/* 
.nav-inner .navbar-collapse ul .col-sale .background-col:hover {
  display: none;
} */


/* .nav-inner .navbar-collapse .sub-nav:hover .background-col  {
  display: block;
} */

.nav-inner
  .navbar-collapse
  ul
  .col-sale
  .dropdown-content-wrapper
  .product-sub-left
  h1::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 3px;
  width: 40px;
  background: #000;
  top: 25px;
}

.nav-inner
  .navbar-collapse
  .item-category-img:hover {
  cursor: pointer;
}

.nav-inner
  .navbar-collapse
  .item-category-img:hover
  img {
  border: 2px solid #2f5acf;
  border-radius: 30px;
}

.nav-inner
  .navbar-collapse
  .item-category-img:hover
  span {
  color: #2f5acf;
  opacity: 1;
  transition: 0.2s linear;
}

.nav-inner
  .navbar-collapse
  .item-category-img
  img {
  height: 40px;
}

.nav-inner
  .navbar-collapse
  .item-category-img
  span {
  opacity: 0.5;
  font-weight: 500;
  font-size: 13px;
  border-bottom: 1px solid #d5d5d5;
}

.nav-inner
  .navbar-collapse
  .product-sub-left
  button:hover {
    background: #000;
}

.nav-inner
  .navbar-collapse
  .product-sub-right{
    border-left: 1px solid #d5d5d5;
  }
.nav-inner
  .navbar-collapse
  /* ul
  .col-sale
  .dropdown-content-wrapper */
  .product-sub-right
  /* .menu-item-img */
  img {
  transition: transform 0.3s ease-in-out;
}

.nav-inner 
.navbar-collapse
  .product-sub-right
  .menu-item-img{
    cursor: pointer;
  }

.nav-inner
  .navbar-collapse
  /* ul
  .col-sale
  .dropdown-content-wrapper */
  .product-sub-right
  .menu-item-img:hover
  img {
  transform: scale(1.2);
}


/* .nav-inner
  .navbar-collapse
  .nav-item */

.nav-inner .navbar-collapse ul .col-sale a {
  color: #fff;
  font-weight: 500;
}

/* .nav-inner .product-sub-left .product-sub-item h1::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 3px;
  width: 40px;
  background: #000;
  top: 25px;
} */

.nav-inner .product-sub-left .product-sub-item h1::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 3px;
  width: 40px;
  background: #000;
  top: 25px;
}

.nav-inner .product-sub-left .product-sub-item li a {
  opacity: 0.5;
  font-weight: 500;
  font-size: 14px;
  transition: 0.2 linear;
}

.nav-inner .product-sub-left .product-sub-item li a:hover {
  color: #2f5acf;
  opacity: 1;
}

.nav-inner .navbar-collapse ul .nav-item:hover {
  background: #3c3c3c;
}

.nav-inner .navbar-collapse ul .form-menu {
  position: relative;
}

.nav-inner .navbar-collapse ul .form-menu .fa-search {
  position: absolute;
  z-index: 2;
  color: #000;
  left: 14px;
  font-size: 24px;
}

.nav-inner .navbar-collapse ul .form-menu .header-action {
  padding: 0 15px;
}

.nav-inner .navbar-collapse ul .form-menu a {
  font-size: 30px;
}

.nav-inner .navbar-collapse ul .form-menu .cart-shopping {
  position: relative;
}

.nav-inner .navbar-collapse ul .form-menu .count-cart {
  position: absolute;
  bottom: 13px;
  padding: 4px 8px;
  right: 5px;
  background: yellow;
  color: #000;
  border-radius: 100px;
  font-size: 10px;
  font-weight: 700;
  z-index: 10;
}

.nav-inner .navbar-collapse ul .form-menu .header-action .header-action__menu {
  display: none;
  position: absolute;
  z-index: 100;
  /* background: #3c3c3c; */
  width: 414px;
  /* height: 240px; */
  top: 65px;
  left: -110px;
  padding-top: 24px;
  transition: all 0.3s;
}

.nav-inner
  .navbar-collapse
  ul
  .form-menu
  .header-action:hover
  .header-action__menu {
  display: block;
  transition: all 0.3s;
}

.nav-inner .navbar-collapse ul .form-menu .header-action .header-action__inner {
  height: 100%;
  /* padding-top: 21px; */
  background: #fff;
  width: 100%;
  color: #000;
  border-radius: 15px;
}

.nav-inner .navbar-collapse ul .form-menu .header-action .mini-cart {
  height: 100%;
  padding: 15px;
}

.nav-inner
  .navbar-collapse
  ul
  .form-menu
  .header-action
  .mini-cart
  .mini-cart__header
  a {
  text-decoration: none;
  color: #2f5acf;
  font-weight: 500;
  font-size: 13px;
}

.nav-inner
  .navbar-collapse
  ul
  .form-menu
  .header-action
  .mini-cart
  .mini-cart__item-main {
  max-height: 80vh;
}

.nav-inner
  .navbar-collapse
  ul
  .form-menu
  .header-action
  .mini-cart
  .mini-cart__item {
  cursor: pointer;
}

.nav-inner
  .navbar-collapse
  ul
  .form-menu
  .header-action
  .mini-cart
  .mini-cart__item
  .item-img {
  max-width: 100px;
  border-radius: 16px;
}

.nav-inner .navbar-collapse ul .form-control {
  height: 3.8rem;
  width: 200px;
  padding-left: 40px;
}

.nav-inner .navbar-collapse ul .header-search .form-search {
  height: 120px;
  z-index: 100;
}

.nav-inner .navbar-collapse ul .header-search .form-search .exit-menu-search{
  height: 50px;
  width: 50px;
  top: 0;
  right: 0;
  font-size: 30px;
  color: #000;
}

.nav-inner .navbar-collapse ul .header-search .form-search .exit-menu-search:hover {
  cursor: pointer;
}

.nav-inner .navbar-collapse ul .header-search .menu-search {
  height: 1200px;
  top: 120px;
  z-index: 100;
}

.nav-inner .navbar-collapse ul .header-search .menu-search .menu-search-content {
  top: 10px;
}

